body{background-color: aqua;}
h1{ color: blue;
font-size: 47px;
text-align: center;
box-shadow: 2px 2px 19px 1px;}
p{
font-size:22px; 
}
span{
color: brown;
font-size: 50px ;
}
li
.text-1{color: blueviolet;}
.text-2{color: brown;}
.text-3{color: black;}
.photo{
width: 500px;
height: 400px;
margin-left: 300px;
}
                                                                                         
                             